.root {
    -fx-background-color: #121212;
    -fx-font-family: "Segoe UI", sans-serif;
}

.side-bar, .top-bar {
    -fx-background-color: #000000;
}

.button-primary {
    -fx-background-color: #d32f2f;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button-primary:hover {
    -fx-background-color: #ff5252;
}

.label-header {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-color: #2a2a2a;
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-prompt-text-fill: #b3b3b3;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #404040;
    -fx-background-radius: 10;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #606060;
}